{{#if isOnline}}
  <span class="action action--call__online">{{fa-icon "phone"}}</span>
{{else}}
  <span class="action">{{fa-icon "envelope-o"}}</span>
{{/if}}
<span class="action" {{action onShowFriends}}>{{fa-icon "users"}}</span>
